

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__title {
  color: #212121;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin: 12px 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 353px;
}

.card__heart-btn {
background-image: url(../images/heart.svg);
background-repeat: no-repeat;
background-position: center;
background-size: contain;
width: 23px;
height: 20px;
border: none;
background-color: transparent;
opacity: 40%;
margin: 12px 0 0;
transition: opacity .3s ease;
cursor: pointer;
}

.card__heart-btn:hover {
  opacity: 1;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }

  .card__title {
  font-size: 16px;
  max-width: 235px;
  }
 .card__heart-btn {
  width: 20px;
  height: 18px;
 }
}