.profile {
display: flex;
padding: 34px 0 20px;
border-bottom: 1px rgba(33,33,33, .4) solid;
}

.profile__avatar {
  height: 190px;
  width: 190px;
  margin-right: 20px;
  border-radius: 8px;
}

.profile__column {
  display: flex;
  flex-direction: column;;
}

.profile__name {
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__bio {
margin: 0;
display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
font-weight: 500;
font-size: 16px;
line-height: 1;
opacity: .7;
max-width: 420px;
}

.profile__edit-btn {
margin-top: auto;
background-color: transparent;
border: none;
gap: 8px;
display: flex;
font-weight: 500;
line-height: 1;
opacity: 70%;
font-size: 16px;
transition: all .5 ease-in;
}

.profile__edit-btn:hover {
  opacity: 1;
  cursor: pointer;
}

.profile__new-post {
  margin-left: auto;
  display: flex;
  width: 157px;
  height: 52px;
  align-items: center;
  gap: 8px;
  justify-content: center;
  margin-top: auto;
  background-color: #212121;
  color: #FCF5E5;
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  transition: all .5 ease-in;
}
.profile__new-post:hover {
  opacity: .8;
  cursor: pointer;
}

@media screen and (max-width:627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }
  .profile__avatar {
    width: 80px;
    height: 80px;
    margin: 0 0 12px;
  }
  .profile__column {
    align-items: center;
    margin: 0 0 20px;
  }

  .profile__name {
    font-size: 20px;
    margin: 0 0 6px;
    max-width: 288px;
  }

  .profile__bio {
    margin: 0 0 32px;
    max-width: 288px;
  }


  .profile__edit-btn {
    margin: 0;
  }

  .profile__new-post {
    margin: 0;
    width: 100%;
    height: 52px;
  }
}